body {
  margin: 0;
  /* font-family: 'Segoe UI'; */
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}
input {
  font-size: 2rem;
  margin: 2.5rem;
  width: 40%;
  color: #fdfcfc;
}